<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false" colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false" syntaxCheck="false" bootstrap="phpunit.php">

  <testsuites>
    <testsuite name="Spoom Core Test Suite">
      <file>HelperTest.php</file>
      <file>FileTest.php</file>
      <file>StorageTest.php</file>
      <file>StoragePersistentTest.php</file>
      <file>EventTest.php</file>
      <file>ExtensionTest.php</file>
      <file>LoggerTest.php</file>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>../src/extension</directory>
    </whitelist>
  </filter>
</phpunit>
