# setup the framework' environment
SetEnv ENVIRONMENT_TYPE   production
SetEnv ENVIRONMENT_REPORT none
SetEnv ENVIRONMENT_LOG    warning

# setup the rewrite engine
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
    
  # Disable files direct access
  RewriteRule ^/?framework.php - [R=403,L]
  RewriteRule ^/?extension/.*?/(configuration|localization|library)/ - [R=403,L]

  # rewrite all invalid path to the index
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* index.php [L]
</IfModule>
